body {
    font-family: 'Mukta', sans-serif;
    text-align: center;
    margin: 0;
}

.icono {
    width: 2rem;
    height: 2rem;
}

.destacad{
    width: 14rem;
    height: 8rem;
}

.tarjeta {
    width: 14rem;
}